@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;

    &-links {
        display: flex;
        gap: 40px;
        align-items: center;
        font-family: Rubik, sans-serif;
        font-weight: 400;
        font-size: 16px;
        
        a{
            text-decoration: none;
            color: #4f5665;
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        gap: 30px;
        &-def{
            font-family: Rubik, sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #0b132a;
            background: none;
            border: none;
        }
        &-red {
            font-family: Rubik, sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #f53855;
            background: none;
            border: 1px solid #f53855;
            border-radius: 50px;
            width: 150px;
            height: 45px;
        }
    }
}