@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.header {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}
.header-links {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.header-links a {
  text-decoration: none;
  color: #4f5665;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-buttons-def {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0b132a;
  background: none;
  border: none;
  cursor: pointer;
}
.header-buttons-red {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f53855;
  background: none;
  border: 1px solid #f53855;
  border-radius: 50px;
  width: 150px;
  height: 45px;
  cursor: pointer;
}

main {
  width: 1140px;
  margin: 0 auto;
}

.main-helloblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 88px;
}
.main-helloblock-info h1 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
}
.main-helloblock-info h2 {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
}
.main-helloblock-info-btn {
  border-radius: 10px;
  width: 250px;
  height: 60px;
  background: #f53838;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(245, 56, 56, 0.2), 0 11px 11px 0 rgba(245, 56, 56, 0.17), 0 24px 14px 0 rgba(245, 56, 56, 0.1), 0 43px 17px 0 rgba(245, 56, 56, 0.03), 0 66px 19px 0 rgba(245, 56, 56, 0);
  -moz-box-shadow: 0 3px 6px 0 rgba(245, 56, 56, 0.2), 0 11px 11px 0 rgba(245, 56, 56, 0.17), 0 24px 14px 0 rgba(245, 56, 56, 0.1), 0 43px 17px 0 rgba(245, 56, 56, 0.03), 0 66px 19px 0 rgba(245, 56, 56, 0);
  -webkit-box-shadow: 0 3px 6px 0 rgba(245, 56, 56, 0.2), 0 11px 11px 0 rgba(245, 56, 56, 0.17), 0 24px 14px 0 rgba(245, 56, 56, 0.1), 0 43px 17px 0 rgba(245, 56, 56, 0.03), 0 66px 19px 0 rgba(245, 56, 56, 0);
}

.b-r {
  border-right: 2px solid #eeeff2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  height: 200px;
  margin-top: 103px;
  padding-top: 37px;
  box-sizing: border-box;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
}
.grid-container-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  height: 125px;
}
.grid-container-p {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #0b132a;
  margin: 0;
}
.grid-container-p-norm {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4f5665;
  margin-top: 5px;
  margin-bottom: 0;
}

.main-functionality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
  gap: 169px;
}
.main-functionality-info h1 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
}
.main-functionality-info h2 {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
}
.main-functionality ul {
  padding: 0;
}
.main-functionality ul li {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #4f5665;
  list-style: none;
}
.main-functionality ul li::before {
  content: url(assets/marker.svg);
  vertical-align: top;
  margin-right: 5px;
}

.content {
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
  position: relative;
}

.main-planblock {
  margin-top: 80px;
}
.main-planblock h1 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
  text-align: center;
  padding-top: 80px;
}
.main-planblock h2 {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  text-align: center;
}
.main-planblock-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  align-items: center;
  margin-top: 60px;
}
.main-planblock-grid-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 330px;
  height: 760px;
  padding-top: 80px;
  padding-bottom: 50px;
}
.main-planblock-grid-card h2 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #0b132a;
}
.main-planblock-grid-card ul {
  padding: 0;
}
.main-planblock-grid-card ul li {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #4f5665;
  list-style: none;
}
.main-planblock-grid-card ul li::before {
  content: url(assets/swoosh.svg);
  vertical-align: top;
  margin-right: 20px;
}
.main-planblock-grid-card h1 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  color: #0b132a;
}
.main-planblock-grid-card button {
  border: 2px solid #f53838;
  border-radius: 50px;
  width: 177px;
  height: 45px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #f53838;
  background: none;
  cursor: pointer;
}

.main-mapblock {
  margin-top: 150px;
}
.main-mapblock h1 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
  text-align: center;
}
.main-mapblock h2 {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  text-align: center;
}
.main-mapblock-gmap {
  margin-top: 155px;
}

.main-sponsored {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.main-feedbackblock {
  padding-bottom: 180px;
}
.main-feedbackblock h1 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
  text-align: center;
}
.main-feedbackblock h2 {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  text-align: center;
}
.main-feedbackblock-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
  width: calc((100% - 40px) / 3);
}
.main-feedbackblock-grid-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  gap: 20px;
}
.main-feedbackblock-grid-card-header {
  display: flex;
  justify-content: space-between;
}
.main-feedbackblock-grid-card-header-profile {
  display: flex;
  gap: 20px;
}
.main-feedbackblock-grid-card-header-profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
}
.main-feedbackblock-grid-card-header-profile-info-name {
  margin: 0;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #0b132a;
}
.main-feedbackblock-grid-card-header-profile-info-from {
  margin: 0;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: #4f5665;
}
.main-feedbackblock-grid-card-header-raiting {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.main-feedbackblock-grid-card-header-raiting p {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #0b132a;
}
.main-feedbackblock-grid-card span {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #0b132a;
}

.main-subscribeblock {
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  position: absolute;
  bottom: -115px;
  width: 100%;
  height: 233px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  padding: 58px 70px;
  box-sizing: border-box;
}
.main-subscribeblock-h h1 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
}
.main-subscribeblock-h h2 {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
}

.footer {
  background-color: #F8F8F8;
}
.footer-content {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 180px;
}
.footer-leftside .copyright {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #afb5c0;
  margin-top: 30px;
}
.footer-leftside p {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
}
.footer-leftside-logo {
  display: flex;
  gap: 20px;
}
.footer-leftside-logo button {
  border: none;
  background: none;
  cursor: pointer;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
}
.footer-rightside {
  display: flex;
  justify-content: space-between;
  gap: 126px;
}
.footer-rightside .bold {
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-rightside ul {
  list-style: none;
}
.footer-rightside ul li {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
}/*# sourceMappingURL=style.css.map */